{% extends "store/layout.html" %}
{%block body%}
  <div class="pages">
    
    <div class="product-page-container">
      <div class="container-product">
        <figure>
          <div class="product-card product-view-card">
            {% if cartItems %}
            
              {% for product in cartItems %}
              <div class="product-cart-item">
                <img src="{{product.imageUrl}}" alt="" class="product-cart-img">
                <h4 class="product-cart-title">{{product.title}}</h4>
                <h4 class="product-cart-price">R{{product.price}}</h4>
                <form action="">
                  <input type="submit" class="product-cart-button glass-button" value="remove">
                </form>
              </div>
              {% endfor %}
            {% else %}
              <h6>Cart is empty</h6>
            {% endif %}
          </div>
          <div class="product-card cart-view-options">
            <h4>items: 1</h4>
            <h4>total price: 28.95</h4>
            <input type="button" value="Create Order" class="glass-button">
            <input type="button" value="Clear Cart" class="glass-button">


          </div>
        </figure>
      </div>
    </div>
  </div>
  
{%endblock%}