{% extends "store/layout.html" %}
{% block body %}

  <div class="pages">
    <div class="container" id="home">
      <div class="welcome-note-div">
        <p class="welcome-note">
          Thank you for choosing EthanRo, where every soap is a piece of art made just for you! <br>
          Dive into a luxurious bathing experience and let our unique scents and nourishing formulas rejuvenate your senses
        </p>
      </div>
      
      <div class="products">
        <button class="slider-buttons prev">prev</button>
        <div class="slider-holder">
          <figure class="slide-track">
            {% for product in products %}
              <a href="{% url 'product' item=product.title %}">
                <div class="product-card">
                  <div class="img-div">
                    <img src="{{product.imageUrl}}" class="product-img">
                  </div>
                  <div class="info-div">
                    <h4 class="product-title"> {{product.title}}</h4>
                    <small class="description">{{product.discription}}</small>
                    <h4 class="product-price">R{{product.price}}</h4>
                  </div>
                </div>
              </a>
            {% endfor %}
          </figure>
        </div>
        
        <button class="slider-buttons nxt">next</button>
      </div>
    </div>

<!--PAGE 2-->

    <div class="container-page2" id="new">
      <div class="new-products">
        <figure>
          {% for product in products|slice:"0:3" %}
          <a href="{% url 'product' item=product.title %}">
            <div class="new-product-card" id="card1">
              <div class="img-div">
                <div class="new-sticker"><img src="https://e7.pngegg.com/pngimages/799/923/png-clipart-kochers-computer-icons-new-label-leaf-text-thumbnail.png" alt="" class="sticker"></div>
                <img src="{{product.imageUrl}}" alt="" class="product-img">
              </div>
              <div class="info-div">
                <h4 class="product-title"> {{product.title}}</h4>
                <small class="description">{{product.discription}}</small>
                <h4 class="product-price">R{{product.price}}</h4>
              </div>
            </div>
          </a>
          {% endfor %}
        </figure>
      </div>

      <div class="new-note-div">
        <p class="new-note">
          We're thrilled to introduce our latest creations, designed to elevate your bathing routine to new heights. <br>
          Explore our new scents and innovative formulas, and find the perfect addition to your self-care regimen. <br>
          Embrace the freshness and indulge in the quality you deserve. Your skin will thank you!
        </p>
      </div>

    </div>

<!--PAGE 3-->

    <div class="container-page3" id="spacial">
      <div class="spacial-note-div">
        <p class="spacial-note">
          At Ethanro, we believe everyone deserves a little something extra.
          That's why we're excited to offer you exclusive discounts on our premium products.
          Whether you're a returning customer or new to our store, there's a deal waiting just for you!
        </p>
      </div>
      <div class="new-products">
        <figure>
          <div class="new-product-card" id="card1">
            <div class="img-div">
              <div class="new-sticker"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7luQKWB_qzBxak9n193nqhinv-ZDYuR9Ecw&s" alt="" class="sticker"></div>
              <img src="https://handbag-asia.com/wp-content/uploads/2017/08/handmade-soap.jpg" alt="" class="product-img">
            </div>
            <div class="info-div">
              <h4 class="product-title"> Protex</h4>
              <small class="description">Protex hygen bath soap bar</small>
              <div><h4 class="discount">was R35,90</h4> <h4 class="product-price">now R25,90</h4> </div>
            </div>
          </div>
          <div class="new-product-card" id="card3">
            <div class="img-div">
              <div class="new-sticker"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7luQKWB_qzBxak9n193nqhinv-ZDYuR9Ecw&s" alt="" class="sticker"></div>
              <img src="https://th.bing.com/th/id/R.2f3199f98812270da13300d5823e0bfa?rik=rN3YIhjvmPuBOQ&riu=http%3a%2f%2fwww.mireiodesigns.com%2fwp-content%2fuploads%2f2011%2f05%2fblushie.jpg&ehk=l%2fEYDLqKLiFoQRrKk3oBEBuATK7feQVojnD4xCYAQ28%3d&risl=&pid=ImgRaw&r=0" alt="" class="product-img">
            </div>
            <div class="info-div">
              <h4 class="product-title"> Protex</h4>
              <small class="description">Protex hygen bath soap bar</small>
              <div><h4 class="discount">was R35,90</h4> <h4 class="product-price">now R25,90</h4> </div>
            </div>
          </div>
          <div class="new-product-card" id="card4">
            <div class="img-div">
              <div class="new-sticker"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7luQKWB_qzBxak9n193nqhinv-ZDYuR9Ecw&s" alt="" class="sticker"></div>
              <img src="https://sarahblooms.com/wp-content/uploads/2017/11/DIY-spiced-soap-for-men-tutorial-1.jpg" alt="" class="product-img">
            </div>
            <div class="info-div">
              <h4 class="product-title"> Protex</h4>
              <small class="description">Protex hygen bath soap bar</small>
              <div><h4 class="discount">was R35,90</h4> <h4 class="product-price">now R25,90</h4> </div>
              
            </div>
          </div>
          
        </figure>
      </div>
    </div>

    <!--PAGE 4-->

    <div class="container-page4" id="about-us">
      <div class="new-products">
        <figure>
          <div class="new-product-card about-us-card">
            <h4>About us</h4>
            ethanro is a company that produces and sells handcrafted soap.
            we strive to create unique, and enovative fomular, and scents to elevate our customer's bathing and self-care experience
          </div>
          <div class="new-product-card"></div>
          <div class="new-product-card about-us-card">
            <h4>Address:</h4>
            <p>Pretoria South Africa</p>
            <h4>Contact no:</h4>
            <p>012 555 3754</p>
            <h4>Founder</h4>
            <p>Rhofiwa</p>
          </div>
        </figure>
      </div>
    </div>
  </div>
  
{% endblock %}