{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="{% static 'store/styles.css' %}" rel="stylesheet" >
  <script src="{% static 'store/script.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <title>Ethanro</title>
</head>
<body>

  <div class="nav-bar">
    <div class="logo-image"><a href="{% url 'index' %}#home"><h1>ethanro.</h1></a></div>
    <div class="search-div">
      <form class="search-form" action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input class="seach-text-input" type="text" name="search" id="key-word">
        <button class="search-button" type="submit"><img class="search-icon" src="https://cdn-icons-png.flaticon.com/128/10469/10469570.png" alt=""></button>
      </form>
    </div>
    <div class="nav-links">
      <a href="{% url 'index' %}#home" class="nav-link">Home</a>
      <a href="{% url 'index' %}#new" class="nav-link">New</a>
      <a href="{% url 'index' %}#spacial" class="nav-link">Special</a>
      <a href="{% url 'cart' %}" class="nav-link">inCart</a>
      <a href="{% url 'index' %}#about-us" class="nav-link">about us</a>
    </div>
  </div>

  <div class="contacts-bar">

    <a href="" class="nav-link">
      <div class="media-img">
        <img class="media-img icon" src="https://cdn-icons-png.flaticon.com/128/11516/11516211.png" alt="">
      </div>
    </a>
    <a href="" class="nav-link">
      <div class="media-img">
        <img class="media-img icon" src="https://cdn-icons-png.flaticon.com/128/2504/2504903.png" alt="">
      </div>
    </a>
    <a href="" class="nav-link">
      <div class="media-img">
        <img class="media-img icon" src="https://cdn-icons-png.flaticon.com/128/15707/15707820.png" alt="">
      </div>
    </a>
    <a href="" class="nav-link">
      <div class="media-img">
        <img class="media-img icon" src="https://cdn-icons-png.flaticon.com/128/1409/1409946.png" alt="">
      </div>
    </a>
    <a href="" class="nav-link">
      <div class="media-img" >
        <img class="media-img icon" src="https://cdn-icons-png.flaticon.com/128/733/733585.png" alt="">
      </div>
    </a>
  </div>

 {% block body %}
 {% endblock %}
  
</body>
</html>